* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, monospace;
    font-size: 13px;
}

window#waybar {
    background: transparent;
    border-bottom: 0;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0;
}

widget,
widget > label,
revealer > box
{
    padding: 0 15px 0 10px;
    border-radius: 26px;
    color: #ffffff;
}

window > box > box > box,
window > box > box > widget
{
    border-radius: 26px;
    background-color: rgba(46, 46, 46, 0.533);
}

#window,
#workspaces {
    margin: 0 4px;
}

#battery.charging, #battery.plugged {
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(20);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

widget.disconnected,
widget.critical,
widget.muted,
button.urgent,
#tray > .needs-attention,
#battery.critical:not(.charging)
{
    background-color: #f53c3c;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#privacy-item {
    padding: 0 5px;
}

#tray {
    padding: 0px 10px;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover
{
    border-radius: 26px;
    background: rgba(0, 0, 0, 0.5);
}
