name: Update repo
run-name: ${{ github.actor }} is updating the flake lock
on:
  schedule:
    - cron: "0 0/6 * * *"
  workflow_dispatch:
  # push:
jobs:
  downloadUpdates:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v27
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes
      - run: nix flake update
      - uses: stefanzweifel/git-auto-commit-action@v5
  build:
    needs: downloadUpdates
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      # - uses: cachix/install-nix-action@v27
      #   with:
      #     extra_nix_config: |
      #       experimental-features = nix-command flakes
      - uses: cachix/cachix-action@v12
        with:
          name: tnichols217-nixos-config
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - run: nix run .#ciBuild
      - run: nix-shell --run "echo OK"
